@media only screen and (max-width: 600px) {
  .side-bar {
    display: none;
  }
}

.scrollbar::-webkit-scrollbar {
  height: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(skyblue, green);
}

